<!DOCTYPE html>
<html>
<!-- asdf -->
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/index.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		 $(function(){ $("#template").load("template.html") });

		 //Enables dynamic search :)
		 $(function() {
	        var $cells = $("td");

	        $("#search").keyup(function() {
	        	var val = $.trim(this.value).toUpperCase();
	        	if (val == "")
	        		$cells.parent().show();
	        	else {
	        		$cells.parent().hide();
	        		$cells.filter(function() {
	        			return -1 != $(this).text().toUpperCase().indexOf(val);
	        		}).parent().show();
	        	}
	        });
 		});

	</script>
	
</head>
<body>
	<div id="outer">
	<div>
	<h1 style="padding: 20px;"><center>Is It Trash?</center></h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="btn-group" id="location">
					 
					<button class="btn btn-default">
						State
					</button> 
					<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
					</ul>
				</div>

				<div id="mtabs">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab1" rel="tab1">Home</a>
					</li>
					<li>
						<a href="#tab2" rel="tab2">Suggestions</a>
					</li>
				</ul>
				</div>

				<div id="tab1" class="mtab_content" style="display: block;">
					<form action="index.php" method="POST" id="my_form">
							<input type="hidden" name="category" id="category">
						<div class="btn-group" id="main-dropdown">
									 
									<button class="btn btn-default">
										Category of Trash
									</button> 
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Electronics</a></li>
										<li><a href="#">Food</a></li>
										<li><a href="#">Glass</a></li>
										<li><a href="#">Paper</a></li>
										<li><a href="#">Plastics</a></li>
										<li><a href="#">Textiles</a></li>
									</ul>
						</div>
					</form>


					<div class="row">
						<div class="col-md-12">
						<label style="width:70%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">
						<input id = "search" type = "text" style="width:100%;" placeholder="Search..."></label>
						<div id="content-wrapper">
							<div class="content-box content-left">
							<img src="img/fruit.jpg" class="crop">
								<h1 class="center">Fruit<h1>
								<span class = "keywordtext">apple, tomato, peach</span>
							</div>
							<div class="content-box">
							<img src="img/batteries.jpg" class="crop">
								<h1 class="center">Batteries</h1>
								<span class = "keywordtext">lithium, volt</span>
							</div>
							<div class="content-box content-right">
							<img src="img/glass.jpg" class="crop">
								<h1 class="center">Glass Jar</h1>
								<span class = "keywordtext">jar, glass bottle, window</span>
							</div>
							<div class="content-box content-left">
							<img src="img/glass.jpg" class="crop">
								<h1 class="center">Glass</h1>
								<span class = "keywordtext">jar, glass bottle, window</span>
							</div>
						</div>
						</div>
					</div>

				</div>
				<div id="tab2" class="mtab_content">
				<form class="form-horizontal">
				<fieldset>

				<!-- Form Name -->
				<center><legend><br>Submit a Suggestion<br><br></legend></center>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="textinput">Name</label>  
				  <div class="col-md-4">
				  <input id="submitName" name="submitName" type="text" class="form-control input-md">
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="textinput">Email</label>  
				  <div class="col-md-4">
				  <input id="submitEmail" name="submitEmail" type="email" class="form-control input-md">
				  </div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="textarea">Description</label>
				  <div class="col-md-4">                     
					<textarea class="form-control" id="submitDescription" name="submitDescription">Please include category, State, and how to dispose.</textarea>
				  </div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="submit"></label>
				  <div class="col-md-4">
					<input type="submit" value="Submit!" class="form-control">
				  </div>
				</div>

				</fieldset>
				</form>

				</div>
			</div>
		</div>
		</div>
	</div>
	
	<script>
	$(document).ready(function(){ 
            $('#main-dropdown li').click(function()
                {
                    $('#my_category').val($(this).html());
                    $('#my_form').submit();
                });
				   
			
		//  When user clicks on tab, this code will be executed
		$("#mtabs li").click(function() {
        //  First remove class "active" from currently active tab
        $("#mtabs li").removeClass('active');
 
        //  Now add class "active" to the selected/clicked tab
       $(this).addClass("active");
 
        //  Hide all tab content
        $(".mtab_content").hide();
 
        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");
 
        //  Show the selected tab content
        $(selected_tab).fadeIn();
 


        //  At the end, we add return false so that the click on the link is not executed
        return false;
		});
});
	</script>
</body>
</html>