<!DOCTYPE html>
<html>
<!-- asdf -->
<head>
	<title>is it trash?</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/index.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>

		$("html,body").hide().fadeIn(1500);
		 $(function(){ $("#template").load("template.html") });

		 //Enables dynamic search :)
		 $(function() {
	        var $cells = $("h2");

	        $("#search input").keyup(function() {
	        	var val = $.trim(this.value).toUpperCase();
	        	if (val == "")
	        		$cells.parent().show();
	        	else {
	        		$cells.parent().hide();
	        		$cells.filter(function() {
	        			return -1 != $(this).text().toUpperCase().indexOf(val);
	        		}).parent().show();
	        	}
	        });
 		});


		 function createpopup(contentid) {
		 	var newpage = window.open();
		 	var content = $(contentid).html();
		 	$(newpage.document.body).html(content);
		 }

	</script>
	
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<div class="btn-group" id="location">				 
		<button class="btn btn-default">Your location</button> 
		<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">New Jersey</a></li>
			<li><a href="#">New York</a></li>
			<li><a href="#">Maine</a></li>
		</ul>
	</div>


	<div id="outer">
	<div id="head"> <span id="title">is it trash?</span><br/>
	<p>We get it. You have crap to throw away, and you don't want to be bothered. But the world is at stake. It is suffering because of our laziness.
	Why not take the time to figure out just <em>how</em> to throw this crap away? What happens to batteries? What about bottle caps? Here's your favorite resource to learn about trash.</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<!--div id="mtabs">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab1" rel="tab1">Home</a>
					</li>
					<li>
						<a href="#tab2" rel="tab2">Suggestions</a>
					</li>
				</ul>
				</div-->

				<div id="tab1" class="mtab_content" style="display: block;">
					<div class="row">
						<div class="col-md-12">
						<div id="search">
							<label style="width:70%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;">
							<input type="text" style="width:100%;" placeholder="what do you want to throw away?"></label>
						</div>

						
						<div style="width:30%; display: block; margin-left: auto; margin-right: auto;">
							<input type="checkbox" name="category" value="Electronics">Electronics
							<input type="checkbox" name="category" value="Food">Food  
							<input type="checkbox" name="category" value="Glass">Glass   
							<input type="checkbox" name="category" value="Paper">Paper  
							<input type="checkbox" name="category" value="Plastics">Plastics  
							<input type="checkbox" name="category" value="Textiles">Textiles
						</div>

						<!--Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/>
						<Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/>
						<Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/>
						<Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/><Br/-->

						<div id="section1">
						<div id="content-wrapper">
							<div class="trash content-left" onclick = "createpopup('#fruithtml');">
							<img src="img/fruit.jpg" class="crop">
								<h2>Fruit</h2>
								<h2><span class = "keywordtext">apple, tomato, peach</span></h2>
							</div>
							<div class="trash">
							<img src="img/batteries.jpg" class="crop">
								<h2>Batteries</h2>
								<h2><span class = "keywordtext">lithium, volt</span></h2>
							</div>
							<div class="trash content-right">
							<img src="img/glass.jpg" class="crop">
								<h2>Glass Jar</h2>
								<h2><span class = "keywordtext">jar, glass bottle, window</span></h2>
							</div>
							<div class="trash content-left">
							<img src="img/glass.jpg" class="crop">
								<h2>Glass</h2>
								<h2><span class = "keywordtext">jar, glass bottle, window</span></h2>
							</div>

						</div>
						</div>

					</div>

				</div>
				<div id="tab2" class="mtab_content">
				<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<center><legend><br>Submit a Suggestion<br><br></legend></center>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="textinput">Name</label>  
					  <div class="col-md-4">
					  <input id="submitName" name="submitName" type="text" class="form-control input-md">
					  </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="textinput">Email</label>  
					  <div class="col-md-4">
					  <input id="submitEmail" name="submitEmail" type="email" class="form-control input-md">
					  </div>
					</div>

					<!-- Textarea -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="textarea">Description</label>
					  <div class="col-md-4">                     
						<textarea class="form-control" id="submitDescription" name="submitDescription">Please include category, State, and how to dispose.</textarea>
					  </div>
					</div>

					<!-- Button -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="submit"></label>
					  <div class="col-md-4">
						<input type="submit" value="Submit!" class="form-control">
					  </div>
					</div>

				</fieldset>
				</form>

				</div>
			</div>
		</div>
		</div>
	</div>
	
	<script>
	$(document).ready(function(){ 

            $('#main-dropdown li').click(function()
                {
                    $('#my_category').val($(this).html());
                    $('#my_form').submit();
                });
				   
			
		//  When user clicks on tab, this code will be executed
		$("#mtabs li").click(function() {
        //  First remove class "active" from currently active tab
        $("#mtabs li").removeClass('active');
 
        //  Now add class "active" to the selected/clicked tab
       $(this).addClass("active");
 
        //  Hide all tab content
        $(".mtab_content").hide();
 
        //  Here we get the href value of the selected tab
        var selected_tab = $(this).find("a").attr("href");
 
        //  Show the selected tab content
        $(selected_tab).fadeIn();
 


        //  At the end, we add return false so that the click on the link is not executed
        return false;
		});
});
	</script>

	<div id= 'fruithtml'>
		<h1>Fruit</h1>
	 	<p>Compost</p>
	</div>


	<script>
	$("#search").click(function() {
		$("html, body").animate({
			scrollTop: $("#search").offset().top - 40
		}, 800);
		$("#content-wrapper").css({
			"margin-top": "50px",
			"transition": "opacity 3s ease-in-out"
		});
	});
	</script>
</body>
</html>