<style>
#location{
	position: absolute;
	right: 100px;
}

#main-dropdown{
	width: 200px;
	display: block;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" id="location">
				 
				<button class="btn btn-default">
					State
				</button> 
				<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Action</a>
					</li>
					<li>
						<a href="#">Another action</a>
					</li>
					<li>
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
				</ul>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">How to Recycle</a>
				</li>
				<li class="disabled">
					<a href="#">Suggestions</a>
				</li>
			</ul>
		</div>
	</div>
</div>